.header {    /* red thin line of the top of header, React Meals, Your Cart */
    position: fixed; /* fixed, static, relative, absolute, sticky. "static" is default*/ 
    top: 0;  /* ineffective */
    left: 0;  /* ineffective */
    width: 100%;   /* if there is no width, default 50% is applied */
    height: 5rem;
    background-color: #8a2b06;
    color: #fff;
    display: flex;  /* or inline-flex (same)*/
    /* flex-direction: row; row-reverse, column, column-reverse*/
    /* flex-wrap: nowrap; if there is too much boxes in the line then flex-wrap is necessary */
    justify-content: space-between;  /* flex-start sola yaslar. flex-end saga, center, space-between, space-around, space-evenly */
    align-items: center;  /* flex-start yukari yaslar, flex-end asagi, center, strech asagi-yukari uzatip kaplatir, bir de baseline var ki farkli buyuklukte kutular ve icinde farkli boyutlarda rakamlar var diyelim, baseline iste kutularin icindeki rakamlarin alt hizalarini birbirine esitler. */
    /* align-content: /* cok satirli yapilarda dikey eksen hizalar. flex-start dikey yukari yaslar. flex-end asagi dikey hizlar, center dikey ortalar yani ortada toplastirir, space-between ustu ve alti doldurur arada esit bosluklar birakir, space-evenly ust ve alt dahil esit bosluklar birakir, stretch dikeyde uzatip yayar */
    padding: 0 10%;
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.25); /* 1.eleman sag-sol, 2.eleman yukari-asagi gole, 3.eleman (8px olan) opsiyonel ve blur efekti verir. */
    z-index: 10;  /* z-index 0'dan buyukse cakistigi resmin (main image'in) ustunde gorunur, arkadas garanti olsun diye 10 demis +1 de yeterliydi. O ya da -1 olursa arka plan resmi one cikar ve bizim header altta kaldigindan gorunmez*/ 
  }
  
  .main-image {
    width: 100%; /* yazmasaydi da default 100% zaten */
    height: 25rem; /* 4 satirlik  mealItem listemizin tamaminin gorunebilmesi icin header altindaki bu resme 25 rem yeterli. */
    z-index: 0; /* yukaridaki .header'in z-indexinden kucuk olsun ki headerla cakistigi yerde header onde olsun ve gorunebilsin, yoksa orter onu ve header gorunmez. */
    overflow: hidden;  /* scroll, hidden, auto, clip, visible secenekleri var, hidden tasan kismi saklar gostermez. */
  }
  
  .main-image img {
    width: 110%; /* 110 ile sanki biraz zoom yapmis gibi olduk, 100den az olursa sagdan bosluk birakarak sola yaslar resmi */
    height: 100%;
    object-fit: cover; /* cover, contain, fill, none, scale-down: cover en-boy oranini korur resmi kirparark kucultur, contain resmin tamamini alir en boy oranini da korur height ve width'i kucultur, fill en-boy oranini korumaz resize yapar, none hicbirsey yapmaz scale-down ise none ile containin en kucuk versiyonudur remi alabildigine kucultur.*/
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }